<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <!--/*@thymesVar id="buildData" type="com.kiun.functionary.base.general.ListBuildData"*/-->
        <th:block th:include="include :: header(${buildData.title})" />
        <th:block th:include="include :: bootstrap-fileinput-css" />
        <style>
            .codeLine {
                height: 50px;
            }
            .codeMultiline {
                height: 250px;
            }
        </style>
    </head>
    <body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <!--/*@thymesVar id="data" type="java.util.Map"*/-->
        <form class="form-horizontal m" method="post" id="form-add">
            <!--/*@thymesVar id="items" type="java.util.List<com.kiun.functionary.base.general.ListBuildItemData>"*/-->
            <div class="form-group" th:each="item:${items}" th:if="${item.getEditWith()}">
                <!--/*@thymesVar id="item" type="com.kiun.functionary.base.general.ListBuildItemData"*/-->
                <label
                    th:required="${item.isRequired()}"
                    th:if="${item.getEditWith()&&item.getType()!='Hidden'}"
                    class="col-sm-3 control-label"
                    th:text="${item.getTitle()+':'}"></label>
                <input type="hidden" th:value="${data.get(item.getValue())}" th:name="${item.getValue() + '__old'}">
                <div th:if="${item.getEditWith()}" class="col-sm-8" th:switch="${item.getType()}">
                    <input
                        th:case="Hidden"
                        type="hidden"
                        th:value="${data.get(item.getValue())}"
                        th:name="${item.getValue()}">
                    <div th:case="Select" class="input-group">
                        <input
                            type="hidden"
                            th:id="${item.getValue()}"
                            th:name="${item.getValue()}"
                            th:value="${data.get(item.getValue())}" >
                        <input
                            readonly
                            th:required="${item.isRequired()}"
                            class="form-control"
                            type="text"
                            onclick="selectValue(this)"
                            th:id="${item.getSelectOpt().getLabel()}"
                            th:data="${item.jsonString()}"
                            th:name="${item.getSelectOpt().getLabel()}"
                            th:value="${data.get(item.getSelectOpt().getLabel())}">
                        <span class="input-group-addon"><i class="fa fa-search"></i></span>
                    </div>
                    <input
                        th:required="${item.isRequired()}"
                        th:case="Text"
                        th:id="${item.getValue()}"
                        th:name="${item.getValue()}"
                        th:value="${data.get(item.getValue())}"
                        class="form-control"
                        type="text"
                        autocomplete="false">
                    <input type="text"
                       readonly
                       th:required="${item.isRequired()}"
                       th:case="Date"
                       th:id="${item.getValue()}"
                       th:name="${item.getValue()}"
                       th:value="${data.get(item.getValue())}"
                       placeholder="选择日期"
                       class="layui-input form-control">
                    <input type="text"
                       readonly
                       th:required="${item.isRequired()}"
                       th:case="Time"
                       th:id="${item.getValue()}"
                       th:name="${item.getValue()}"
                       th:value="${data.get(item.getValue())}"
                       placeholder="选择日期"
                       class="layui-input form-control">
                    <input type="text"
                       readonly
                       th:required="${item.isRequired()}"
                       th:case="DateAndTime"
                       th:id="${item.getValue()}"
                       th:name="${item.getValue()}"
                       th:value="${data.get(item.getValue())}"
                       placeholder="选择日期"
                       class="layui-input form-control">
                    <input
                        th:required="${item.isRequired()}"
                        th:case="Number"
                        th:id="${item.getValue()}"
                        th:name="${item.getValue()}"
                        th:value="${data.get(item.getValue())}"
                        class="form-control"
                        type="number"
                        autocomplete="false">
                    <input
                        th:required="${item.isRequired()}"
                        th:case="Bool"
                        th:id="${item.getValue()}"
                        th:name="${item.getValue()}"
                        th:value="${data.get(item.getValue())}"
                        class="form-control"
                        type="checkbox"
                        autocomplete="false">
                    <select
                        readonly
                        th:required="${item.isRequired()}"
                        th:case="Enum"
                        th:id="${item.getValue()}"
                        th:name="${item.getValue()}"
                        th:value="${data.get(item.getValue())}"
                        class="form-control">
                        <option value>未选择</option>
                        <option
                            th:each="optionItem: ${item.getEnums().entrySet()}"
                            th:text="${optionItem.getValue()}"
                            th:selected="${optionItem.getKey() == data.get(item.getValue())}"
                            th:value="${optionItem.getKey()}">
                        </option>
                    </select>
                    <textarea
                        th:required="${item.isRequired()}"
                        th:case="TextArea"
                        th:id="${item.getValue()}"
                        th:name="${item.getValue()}"
                        th:value="${data.get(item.getValue())}"
                        class="form-control"
                        autocomplete="false">
                    </textarea>
                    <th:block th:case="Image">
                        <input
                            readonly
                            th:required="${item.isRequired()}"
                            name="file_upload"
                            id="ImageFile"
                            type="file">
                        <input
                            readonly
                            th:required="${item.isRequired()}"
                            type="hidden"
                            id="ImageFile_Id"
                            th:name="${item.getValue()}"
                            th:value="${data.get(item.getValue())}" >
                    </th:block>

                    <pre
                        th:case="CodeLine"
                        th:id="${item.getValue()}"
                        class="codeLine"></pre>
                    <pre
                        th:case="CodeMultiline"
                        th:id="${item.getValue()}"
                        class="codeMultiline"></pre>
                </div>
            </div>
        </form>
    </div>
    <div th:include="include::footer"></div>
    <script type="text/javascript" th:src="@{/js/ace/ace.js}"></script>
    <script type="text/javascript" th:src="@{/js/ace/ext-language_tools.js}"></script>
    <script type="text/javascript" th:src="@{/js/editor.js}"></script>
    <th:block th:include="include :: bootstrap-fileinput-js" />
    <script th:inline="javascript">
        var buildData = [[${buildData}]]
        var items = [[${items}]]
        var data = [[${data}]]
        var prefix = ctx + "generalList/" + buildData.value;

        $(document).ready(function () {
            $("#ImageFile").fileinput({
                'theme': 'explorer-fas',
                'uploadUrl': '/api/file/upload',
                overwriteInitial: false,
                initialPreviewAsData: true,
                allowedFileExtensions : ['jpeg', 'jpg', 'png']
            })

            $('#ImageFile').on('fileuploaded', function(event, data, index, fileId) {
                console.log('文件上传成功', data.response);
                //可以根据data处理你的业务
                $("#ImageFile_Id").val(data.response.data)
            });
        });

        $("#form-add").validate({
            rules:{
                xxxx:{
                    required:true,
                },
            },
            focusCleanup: true
        });

        items.filter(item=> item.type === 'CodeLine' || item.type === 'CodeMultiline').forEach(item=>{
            if (!window.editorMap){
                window.editorMap = {}
            }
            window.editorMap[item.value] = data[item.value]
            initEditor(item.value, data[item.value])
        })

        layui.use(['laydate'], function(){
            items.filter(item=> item.type === 'Date' || item.type === 'Time' || item.type === 'DateAndTime').forEach(item=>{
                var laydate = layui.laydate;
                //执行一个laydate实例
                laydate.render({
                    elem: '#' + item.value
                })
            })
        })

        function submitHandler() {
            if ($.validate.form()) {
                var postData = {...window.editorMap,...$('#form-add').toJson()}
                console.log(postData)
                $.operate.saveJson(prefix + "/edit", postData);
            }
        }

        function exportJavaFile(input){
            if (window.FileReader) {
                var file = input.files[0];
                var reader = new FileReader();
                reader.onload = function() {
                    var result = this.result
                    var codeLine = result.matchAll(/private (.+?) (.+?);/g)
                    var res;
                    var jsonString = "{\n"
                    while (res = codeLine.next()) {

                        if (res.done){
                            break
                        }
                        jsonString += `"${res.value[2]}" : null, \n`
                    }
                    jsonString += "}\n"
                    $('#rule').text(jsonString)
                    console.log(jsonString)
                }
                reader.readAsText(file);
            }
        }
    </script>
    </body>
</html>
