<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org"
	  xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
	<th:block th:include="include :: header('APK上传')" />
	<th:block th:include="include :: bootstrap-fileinput-css" />
</head>
<body class="gray-bg">
     <div class="container-div">
		<div class="row">
			<div class="form-group">
				<label class="font-noraml">APK上传</label>
				<div class="file-loading">
					<input id="apk_upload" type="file" >
				</div>
			</div>
		</div>
	</div>
    <div th:include="include :: footer"></div>
	<th:block th:include="include :: bootstrap-fileinput-js" />
    <script th:inline="javascript">
		$(document).ready(function () {
			$("#apk_upload").fileinput({
				'theme': 'explorer-fas',
				'uploadUrl': ctx + 'system/datVersionInfo/upload',
				overwriteInitial: false,
				initialPreviewAsData: true,
				allowedFileExtensions : ['apk']
			});
		});
    </script>
</body>
</html>